* {
    padding: 0;
    margin: 0;
}

body {
    width: 100%;
    background: url('../img/fondo.png');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

header {
    margin-bottom: 100px;
}

main {
    width: 100%;
}

main #presentation {
    width: 100%;
    color: white;
    display: flex;
    justify-content: center;
    margin-bottom: 100px;
}

main #presentation .info {
    text-align: center;
    width: 50%;
    padding: 10px;
    margin-top: 40px;
    backdrop-filter: blur(10px) contrast(55%);
    border-radius: 5px;
}

main #presentation .info .detail {
    font-size: 20px;
}

main #skills {
    padding-top: 20px;
    padding-bottom: 20px;
    width: 100%;
    margin: auto;
    text-align: center;
    background-color: #393B3E;
}

main #skills h2 {
    color: white;
}

main #skills .habilities {
    margin: auto;
    width: 75%;
    display: flex;
    flex-flow: row wrap;
    gap: 10px 40px;
    font-size: 170px;
}

main #skills .habilities .hability {
    margin: 0 10px;
    flex-grow: 2;
}

main #projects {
    background-color: rgba(33,37,41,1);
    padding-top: 20px;
    text-align: center;
    padding-bottom: 20px;
}

main #projects h2 {
    color: white;
}

main #projects .projects {
    margin: auto;
    width: 80%;
    display: flex;
    flex-flow: row wrap;
    gap: 10px 40px;
}

main #projects .projects .project {
    margin-top: 10px;
}

footer {
    background-color: rgba(33,37,41,1);
    color: white;
    border-top: 1px solid white;
    padding: 10px 20px;
    display: flex;
}

footer .owner {
    width: 60%;
    text-align: right;
    font-size: 20px;
}

footer .redes {
    width: 40%;
    text-align: right;
    font-size: 20px;
}

.fa-html5 {
    color: #e34f26;
}

.fa-css3-alt {
    color: #2965f1;
}

.fa-js {
    color: #f7df1e;
}

.fa-python {
    color: #4584b6;
}

.fa-database {
    color: #00758f;
}

.fa-react {
    color: #00d8ff;
}

.fa-node-js {
    color: #6cc24a;
}

.fa-npm {
    color: #cb3837;
}

.fa-git-alt {
    color: #fc6d26;
}

.fa-docker {
    color: #0db7ed;
}

.fa-github {
    color: white;
}

@media screen and (max-width: 950px) {
    main #presentation .info {
        width: 90%;
    }

    footer {
        width: 100%;
        display: inline-block;
    }

    footer .owner {
        width: 100%;
        text-align: center;
        font-size: 15px;
    }
    footer .redes {
        width: 100%;
        text-align: center;
        margin-top: 10px;
        font-size: 15px;
    }
}